<div class="main">
    <div class="input">
        <div>
            <mat-tab-group mat-align-tabs="center" >
                <mat-tab label="First">
                    <div class="header Basic_details">
                        <div class="img1">
                            <h3>upload profil img</h3>
                            <input type="file" style="display: none;" multiple accept="image/*"
                                (change)="onFileUpload($event)" #selectFile>
                            <a (click)="selectFile.click()">
                                <mat-icon>add_photo_alternate</mat-icon>
                            </a>
                        </div>

                        <!-- <div class="name"> -->
                        <h3>enter your name</h3>
                        <input type="text" [(ngModel)]="inputName" value="full name">
                        <!-- </div> -->
                        <!-- <div class="abuot"> -->
                        <h3>enter about you</h3>
                        <textarea name="" id="" cols="30" rows="5" [(ngModel)]="inputAbut"></textarea>
                        <!-- </div> -->

                        <div class="contact ">
                            <h3>your phone</h3>
                            <input type="tel" [(ngModel)]="tel">
                            <h3>your email</h3>
                            <input type="email" [(ngModel)]="email">
                            <h3>your linkdein</h3>
                            <input type="text" [(ngModel)]="linkdein">
                        </div>
                       

                    </div>
                    <button (click)="changeTab(1)" mat-stroked-button color="warn">next</button>

                </mat-tab>

                <mat-tab label="Second" >

                    <div class="aside center">

                        <div class="Language center">
                            <h2>Language</h2>
                            <div *ngFor="let i of arrLanguage;let p=index">
                                <input type="text" [(ngModel)]="arrLanguage[p].name">
                                <mat-slider aria-label="" [(ngModel)]="arrLanguage[p].value"></mat-slider>
                            </div>
                            <h4>new Language</h4>
                            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
                                (click)="newLanguage()">
                                +
                            </button>
                        </div>
                        <div class="skils center">
                            <h2>Skilss</h2>
                            <div *ngFor="let i of arrSkils;let p=index">
                                <input type="text" [(ngModel)]="arrSkils[p].name">
                                <mat-slider aria-label="" [(ngModel)]="arrSkils[p].value"></mat-slider>
                            </div>
                            <h4>new skill</h4>
                            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
                                (click)="newSkil()">
                                +
                            </button>
                        </div>

                    </div>
                    <button (click)="changeTab(2)" mat-stroked-button color="warn">next</button>
                </mat-tab>
                <mat-tab label="Third">

                    <div class="mainEducation">
                        <!--  -->
                        <div class="ArrEducation" *ngFor="let i of MC;let p=index">
                            <!-- 4vw 1.5vw -->
                            <h2 class="headline"> {{'{'+i.headline+'}'}}</h2>
                            <div class="new_input" *ngIf="p!=0 && p!=1">
                                <p>enter a headline</p>
                                <input type="text" [(ngModel)]="i.headline">
                            </div>

                            <!-- file -->
                            <div *ngFor="let z of MC[p].arr;let x=index" class="inputEducation">
                                <h3 class="number">
                                    < {{x+1}}>
                                </h3>
                                <h4>date start work</h4>
                                <input type="month" [(ngModel)]="z.dateStart">

                                <h4>date end work</h4>
                                <input type="month" [(ngModel)]="z.dateEnd">
                                <h4>compony/education name </h4>
                                <input type="text" [(ngModel)]="z.compnyName">
                                <h4>compny/education Addres</h4>
                                <input type="text" [(ngModel)]="z.compnyAddres">
                                <h4>position</h4>
                                <input type="text" [(ngModel)]="z.position">
                                <h4>content</h4>
                                <textarea name="" id="" cols="30" rows="5" [(ngModel)]="z.content"></textarea>
                            </div>
                            <h5>new {{i.headline}}</h5>
                            <button mat-mini-fab color="accent" (click)="newExperience(p)">
                                +
                            </button>
                        </div>
                        <button mat-mini-fab color="accent" (click)="newMainInput()">
                            +
                        </button>
                    </div>



                </mat-tab>
            </mat-tab-group>


        </div>
    </div>
    <div class="output"id="output">

        <div class="aside">
            <div class="img" *ngIf="reader.onload">
                <img [src]="url" alt="">
            </div>
            <div class="contact" *ngIf="tel ||email ||linkdein">
                <h2>contact</h2>
                <hr class="line">
                <h4 *ngIf="tel" class="title">Phone</h4>
               <a href=""><p>{{tel}}</p></a> 
                <h4 *ngIf="email" class="title">Email</h4>
                <p>{{email}}</p>
                <h4 *ngIf="linkdein" class="title">Linkdein</h4>
                <p>{{linkdein}}</p>
            </div>

            <div class="skiil">
                <h2 class="headline"> Languages</h2>
                <hr class="line">
                <div class="Language ProgressBar" *ngFor="let item of arrLanguage let p=index">
                    <p>{{arrLanguage[p].name}}</p>
                    <mat-progress-bar *ngIf="arrLanguage[p].name" mode="determinate" value="{{arrLanguage[p].value}}">
                    </mat-progress-bar>
                </div>
                <h2 class="headline"> skills</h2>
                <hr class="line">
                <div class="skils ProgressBar" *ngFor="let item of arrSkils let p=index">
                    <p>{{arrSkils[p].name}}</p>
                    <mat-progress-bar *ngIf="arrSkils[p].name" mode="determinate" value="{{arrSkils[p].value}}">
                    </mat-progress-bar>
                </div>


            </div>


        </div>
        <div class="right">
            <div class="header">

                <div class="name">
                    <p>{{inputName}}</p>
                </div>
                <div class="abuot">
                    {{inputAbut}}
                </div>
            </div>
            <div class="main1">
                <div *ngFor="let i of MC;let p=index">
                    <div class="experiense">
                        <h2>{{i.headline}}</h2>
                        <hr class="line">
                        <div class="ExperienceLineSide">
                            <div class="onee" *ngFor="let z of MC[p].arr;let x=index">
                                <div class="date">
                                    <div class="circle"></div>
                                    <h4> {{z.dateStart}} <span *ngIf="z.dateStart && z.dateEnd"> -</span> {{z.dateEnd}}
                                    </h4>
                                </div>
                                <h5> {{z.compnyName}} <span *ngIf="z.compnyName && z.compnyAddres">|</span>
                                    {{z.compnyAddres}}</h5>
                                <p>{{z.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <button (click)="create_Pdf()">122</button>
</div>