* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.center{
    display: grid;
    justify-content: center;
}
.end{
    justify-self: end;
}

/*------------- input ----- */
.input {
    display: grid;
    justify-content: center;
}
.input .header h1,.input .contact h1{
   
    color: #007791;
    margin-bottom: 3px;
    margin-top: 27px;
}
/* tab 1 */
.input .header{
    display: grid;
    justify-content: center;
    justify-items: center;
}
.input .header div{
    display: grid;
    justify-content: center;
    justify-items: center;
}
/* tab 2 */
.input .aside h4{
    justify-self: end;
    color: #007791;
}
.input .aside button{
    justify-self: end;
    margin-bottom:20px ;
}
/* tab 3 */
.input  .inputEducation{
    display: grid;
    justify-content: center;
    margin-top: 15px;
}
.input .mainEducation h2{
   margin-top: 22px;
   color: #002D62;
}
.input .mainEducation h4{
    margin-top: 10px;
    color: #1b6f82;
 }
 .input .mainEducation h5{
   justify-self: end;
    color: #1b6f82;
 }
 .input .mainEducation button{
    justify-self: end;
    
  }
  .input .mainEducation .ArrEducation{
  display: grid;    
  }
/*---------- output ------- */
.output {
    border: solid 1px black;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* padding: 20px; */
    box-shadow: -2px -4px 11px 1px;

}
.output .name p {
    font-size: 50px;
    color: #002D62;
}
mat-progress-bar {
    width: 60%;
}
.output .aside {
    background-color: #002244;
    color: aliceblue;
    padding: 20px;
}
.output .img {
    height: 257px;
    resize: vertical;
    overflow: hidden;
}

.line {
    width: 90%;
    background-color: white;
    height: 2px;
    margin: 2px 5px 0px 0px;
    margin-bottom: 28px;
    border: none;
}

.output .aside .contact .title {
    margin: 12px 0px 6px 0px;
}

.ProgressBar {
    margin-bottom: 15px;

}

.headline {
    padding-top: 25px;

}

.right {
    padding-left: 47px;
}

.output .right .header {
    height: min(278px);

}

.right .header .name {
    padding-top: 27px;
}

.right .header .abuot {
    padding-top: 34px;
    margin-right: 19px;
}

.experiense .line, .Education .line {
    background-color: black;
}

.ExperienceLineSide {
    border-left: solid 2px;
}

.ExperienceLineSide .date {
    display: flex;
    right: 24px;
    position: relative;
}

.ExperienceLineSide .circle {
    margin-right: 5px;
    clip-path: circle(50%);
    border: black solid 2px;
    border-radius: 15px;
    background: white;
    width: 12px;
    height: 12px;
}

.onee {
    margin: 15px 15px 0px 15px;

}

.output .aside .img{
    height: 240px;
    /* width: 165px; */
    border-radius: 50%;
    margin-bottom: 35px;
    display: grid;
    justify-content: center;
}
.output .aside .img img{
    width: 100%;
    height: 100%;
}



@media(max-width:700px){

    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*--------------- input ------------------ */
    
}
@media(min-width:1200px){
    .input .header p {
        font-size: 50px;
       
    }
}
